.snack-wrapper {
  width: 100%;
  min-height: 60px;
  background-color: rgba(0, 0, 0, 0.87);
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  box-shadow: 0 0 20px 0 #00000033;
  align-items: stretch;
  border-radius: 4px;
  padding: 8px;
}

.snack-btn-wrapper {
  display: flex;
  flex-direction: row; 
}

.snack-message-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;
}

.snack-message {
  font-family: "iransans";
  text-align: "right";
  font-size: 12px;
  margin: 0;
}
